# Bỏ qua thư mục .vs
.vs/

# Bỏ qua tất cả các file trong thư mục bin và obj
**/bin/
**/obj/

# Bỏ qua các file tạm thời của Visual Studio
*.suo
*.user
*.cache

# Bỏ qua các file đầu ra debug
*.exe
*.dll
*.pdb
*.log

# Bỏ qua các file cấu hình tự động
*.csproj.AssemblyReference.cache
*.csproj.CoreCompileInputs.cache
*.csproj.GenerateResource.cache
DesignTimeResolveAssemblyReferencesInput.cache
DocumentLayout.json
DocumentLayout.backup.json
