<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QLTV2Entities" connectionString="metadata=res://*/Entities.QLTV.csdl|res://*/Entities.QLTV.ssdl|res://*/Entities.QLTV.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-H4GPTA39;initial catalog=QLTV2;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>